<table class="table">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Units in stock</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <td class="align-middle">
        <img src="{{ product.imageUrl }}" alt="" height="50" />
      </td>
      <td class="align-middle">{{ product.name }}</td>
      <td class="align-middle">{{ product.price }}</td>
      <td class="align-middle">{{ product.unitsInStock }}</td>
    </tr>
  </tbody>
</table>
