<div class="main-content">
  <div class="section-content section-content-p30">
    
    <h4 class="text-center">Category: {{ currentCategoryName }}</h4>
    <hr>

    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products -->
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">

            <a routerLink="/products/{{ product.id }}">
              <img src="{{ product.imageUrl }}" class="img-responsive" alt="" />
            </a>

            <a routerLink="/products/{{ product.id }}">
              <h1>{{ product.name }}</h1>
            </a>
            
            <div class="price">{{ product.unitPrice | currency: 'USD' }}</div>
            <button href="#" class="btn btn-primary btn-sm" (click)="addToCart(product)">Add to cart</button>
          </div>
        </div>
      </div>
      <!-- Pagination -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">
                
                <ngb-pagination [(page)]="thePageNumber" 
                                [maxSize]="5" 
                                [boundaryLinks]="true" 
                                [pageSize]="thePageSize"  
                                [collectionSize]="theTotalElements" 
                                (pageChange)="listProducts()">  
                </ngb-pagination>

              </div>
              <!-- Custom Items size -->
              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size</span>

                <select (change)="updatePageSize($event.target.value)">
                  <option selected="true">5</option>
                  <option>2</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Pagination -->
    </div>

  </div>
</div>
